In [2]:
import numpy as np
import pandas as pd

In [24]:
mage_1 = pd.DataFrame(np.random.randint(1, 7, (1, 4)))
mage_1.columns=["first_d6", "second_d6", "third_d6", "fourth_d6"]
mage_1["Total_HP"] = mage_1["first_d6"] + mage_1["second_d6"] + mage_1["third_d6"] + mage_1["fourth_d6"]
mage_1

   first_d6  second_d6  third_d6  fourth_d6  Total_HP
0         2          5         4          6        17

In [41]:
mage_2 = pd.DataFrame(np.random.randint(1, 7, (1, 4)))
mage_2.columns=["first_d6", "second_d6", "third_d6", "fourth_d6"]
mage_2["Total_HP"] = mage_2["first_d6"] + mage_2["second_d6"] + mage_2["third_d6"] + mage_2["fourth_d6"]
mage_2

   first_d6  second_d6  third_d6  fourth_d6  Total_HP
0         2          6         4          6        18

In [22]:
mage_1_attack = pd.DataFrame(np.random.randint(1, 7, (4, 4)))
mage_1_attack.columns=["first_d6", "second_d6", "third_d6", "fourth_d6"]
mage_1_attack["Total_Hit"] = mage_1_attack["first_d6"] + mage_1_attack["second_d6"] + mage_1_attack["third_d6"] + mage_1_attack["fourth_d6"]
mage_1_attack

   first_d6  second_d6  third_d6  fourth_d6  Total_Hit
0         4          6         5          3         18
1         4          1         6          1         12
2         3          2         3          5         13
3         1          6         5          5         17

In [26]:
mage_2_attack = pd.DataFrame(np.random.randint(1, 7, (4, 4)))
mage_2_attack.columns=["first_d6", "second_d6", "third_d6", "fourth_d6"]
mage_2_attack["Total_Hit"] = mage_2_attack["first_d6"] + mage_2_attack["second_d6"] + mage_2_attack["third_d6"] + mage_2_attack["fourth_d6"]
mage_2_attack

   first_d6  second_d6  third_d6  fourth_d6  Total_Hit
0         1          4         1          3          9
1         3          5         1          2         11
2         1          6         4          6         17
3         2          6         5          4         17

In [42]:
mage_2["Total_HP"] = mage_1_attack.Total_Hit[0] - mage_2.Total_HP

In [43]:
mage_2

   first_d6  second_d6  third_d6  fourth_d6  Total_HP
0         2          6         4          6         0

In [40]:
mage_2.Total_HP - mage_1_attack.Total_Hit[1]

0   -10
Name: Total_HP, dtype: int64

In [ ]:
n = 1
r = 10001

mage1_win_count = 0
mage2_win_count = 0
draws = 0

for i in range(n, r):
    mage1hp = np.random.choice(range(1,7), size = (1,4)).sum()
    mage2hp = np.random.choice(range(1,5), size = (1,6)).sum()
    winner = 'none'
    #print(f'mage1hp = {mage1hp}')
    #print(f'mage2hp = {mage2hp}')
    while mage2hp>0 and mage1hp > 0:
        mage1at = np.random.choice(range(1,7), size = (1,4))
        mage2at = np.random.choice(range(1,5), size = (1,6))
        mage1hp = mage1hp - mage2at.sum()
        mage2hp = mage2hp - mage1at.sum()
      
        if mage1hp <= 0 and mage2hp > 0:
            winner = 'mage2'
            mage1_win_count += 1
            #print(winner)
            break
        elif mage2hp <= 0 and mage1hp > 0:
            winner = 'mage1'
            mage2_win_count += 1
            #print(winner)
            break
        elif mage1hp <= 0 and mage2hp <= 0:
            winner = 'draw'
            draws = draws + 1
            #print(winner)
            break
    i = i + 1

print(f'mage1_winner_count = {mage1_win_count/r}')
print(f'mage2_winner_count = {mage2_win_count/r}')
print(f'draws = {draws/r}')